.pdi-paywall-form {
    padding: 6em 2em 1em;
    max-width: 45rem;
    box-shadow: 2px 2px 3px 3px rgba(0, 0, 0, 0.13);
    margin: 0 auto;
    border-radius: 25px;
}

.pdi-paywall-form .login-submit input{
    padding: 10px 30px;
    margin-bottom:0;
}

.pdi-paywall-form #loginform .input,
.pdi-paywall-form #registerform .input {
    width: 98%;
    font-size: 3rem;
    height: 6rem;
    padding: 0.6rem;
}
.pdi-paywall-plan h3 {
    margin-bottom: 5px;
    font-weight: bold;
}
.pdi-paywall-plans-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.pdi-paywall-plans-container .signal {
    font-size: 1.2rem;
}
.pdi-paywall-plans-container .real {
    font-size: 3.2rem;
    font-weight: bold;
}
.pdi-paywall-plans-container .cent {
    font-size: 1.2rem;
}
.pdi-paywall-header {
    padding: 1em;
    border-top-right-radius: 2rem;
    border-top-left-radius: 2rem;
    background: #f0f0f045;
}

.pdi-paywall-plan {
    width: 35rem;
    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    background: #ffffff;
    color: #333;
    font-size: 1em;
    line-height: 1.625;
    text-align: center;
    box-sizing: border-box;
    box-shadow: 1px 5px 5px #00000085;
    border-radius: 2em;
    margin: 3em auto;
}

.pdi-paywall-plan h3 {
    margin: 2rem auto 0;
    font-weight: bold;
}

.pdi-paywall-plan .pdi-paywall-allowed-content {
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    margin: 5rem 0;
    padding: 1em 0;
    min-height: 10rem;
}

.pdi-paywall-plan .pdi-paywall-allowed-content p:last-child {
    margin-bottom: 0;
}

.pdi-paywall-plan .pdi-paywall-price p {
    margin-bottom: 1em;
    line-height: 1.2;
    font-size: 2.6rem;
}

.pdi-paywall-plan .pdi-paywall-payment-button {
    margin: 0 25px;
}

.pdi-paywall-plan .pdi-paywall-payment-button a {
    display: block;
    min-height: 20px;
    background: #125175;
    color: #fff;
    padding: 14px 24px;
    border-radius: 9px;
    text-decoration: none;
}

.pdi-paywall-plan-details {
    margin: 10px 0 10px 35px;
}

.pdi-paywall-form-steps {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 40px auto 20px;
    border-bottom: 3px solid #ddd;
    padding: 10px;
}

.pdi-paywall-form-steps .pdi-paywall-form-step {
    width: 50%;
    text-align: center;
    padding: 3px;
    text-transform: uppercase;
    font-size: 14px;
}

.pdi-paywall-form-steps .pdi-paywall-form-step.active {
    font-weight: bold;
}

.pdi-paywall-form-steps .pdi-paywall-form-step .step-number {
    display: inline-block;
    background: #ddd;
    padding: 0 5px;
    width: 30px;
    color: #000;
    text-align: center;
    line-height: 30px;
    vertical-align: middle;
    border-radius: 3px;
}

.pdi-paywall-form-steps .pdi-paywall-form-step.active .step-number {
    color: #fff;
    background: #3097dd;
}

.pdi-paywall-form-steps .pdi-paywall-form-step .step-title {
    display: block;
}

#pdi-paywall-registration-errors {
    display: none;
    padding: 0.75rem 1.25rem;
    margin: 1rem 0;
    border-radius: 0.25rem;
    color: #772b35;
    background: #fadddd;
    border: 1px solid #f8cfcf;
}

#pdi-paywall-registration-errors p {
    margin: 0;
    font-size: 0.75em;
}

.pdi-paywall-payment-form .form-row label {
    display: block;
}

.pdi-paywall-user-fields input,
.pdi-paywall-account-fields input,
.pdi-paywall-card-fields input,
.pdi-paywall-info-fields input {
    width: 100%;
}

.pdi-paywall-user-fields h3,
.pdi-paywall-account-fields h3,
.pdi-paywall-card-fields h3,
.pdi-paywall-info-fields h3 {
    margin-bottom: 10px;
}

.pdi-paywall-account-fields h3 {
    margin-top: 20px;
}

#pdi-paywall-registration-next {
    min-width: 200px;
}

.pdi-paywall-profile-subscription-title,
.pdi-paywall-your-profile-header {
    margin-bottom: 10px;
}

.pdi-paywall-field-label {
    display: block;
}

#pdi-paywall-profile .pdi-paywall-field-input {
    min-width: 300px;
    width: 100%;
}

.pdi-paywall-card-container {
    gap: 30px;
    margin-bottom: 30px;
}

.pdi-paywall-card-inputs input {
    margin: 10px auto;
}

.pdi-paywall-registration-payment-container {
    display: none;
}

.pdi-paywall-profile-subscription-details td {
    text-align: center;
}

ul.pdi-list{
    list-style:none;
}
ul.pdi-list li{
    font-size: 1.9rem!important;
}
.panel-title{
    font-size: 1.5em!important;
}
